<h1>Mechanic: <%= @mechanic.name %></h1>
<p>Years of Experience: <%= @mechanic.experience %></p>

<p>Current rides they're working on:</p>

<% @mechanic.rides.each do |ride| %>
  <p>
    <%= ride.name %>
  </p>
<% end %>

<p>Add a ride to workload:</p>

<%= form_tag "/mechanics/#{@mechanic.id}/rides" do %>
  <p>
    <%= label_tag :ride %>
    <%= text_field_tag :ride %>
  </p>

  <p>
    <%= submit_tag 'Submit' %>
  </p>
<% end %>
